.first{
  top:0;
  z-index:-10;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, -1), rgba(0, 0, 0, 0.2)),url(/images/gray.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  width: 100%;
}
.second{
  top:100%;
  z-index:-10;
  position: absolute;
  background-color: #cecece;
  width: 100%;
  min-height: 100%;
}
.third{
  background-color:#013966;
  width: 100%;
  padding:20px;
}

.sectorfirst{
  top:0;
  z-index:-10;
  position: absolute;
  background-color: #e8eef1;
  background-position: bottom;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  width: 100%;
}
